<!--  Carousel of books at top of page  -->
<!-- add links to redirect to individual book chat -->
<div><h1 class="main">Books We Recommend:</h1>
<div class="slideshow-container">

<% books.forEach((book) => { %>
    <div class="containers">
        <div class="messageinfo"><%=book.id %> of <%=book.length%> </div>
        <div class="image"><img src="<%=book.imageUrl%>" alt="<%=book.title %> "></div>
        <div class="info"><%= book.title %>, By <%= book.author %></div>
    </div>
    <% });  %> 
</div>
</div>

