<h1>Welcome to your Profile Page, <%= name %> </h1>
<p>Email: <%= email %></p>
<p>Id: <%= id %></p>

<label for="coffee-select">Choose a coffee and we'll recommend a book:</label>
<form method="GET" action="/coffees">
<select name="coffees" id="coffee-select">
    <option value="">--Please choose an option--</option>
    <% coffees.forEach((coffee) => { %>
    <option value="<%=coffee.coffeeName%>"><%=coffee.coffeeName%></option>
    <% }); %>
</select>
<button class="btn btn-primary" type="submit">See which book pairs well with this coffee</button>
</form>